body {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
}
.hero {
	padding: 3rem;
  font-family: 'Raleway', sans-serif;
}

#footer {
    font-size: 0.7rem;
}
ul {
    list-style-type: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  li a{
    display: inline;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
  }
  .nav {
      color: black;
      font-family: 'Raleway', sans-serif;
  }
p {
    margin: 0 auto;
    padding:2rem;
    width: 40rem;
    height: 12rem;
    background-color: #F5E6E7; 
    text-align: left;
    } 
h1 {
    margin: 0 auto;
    width: 18rem;
    height: 5rem;
    Background-color: #F5E6E7;
}
a {
    text-decoration: none;
    }