body {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    height: 100%;
    width: 100%;
}
.hero {
    padding: 390px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://images4.alphacoders.com/242/242556.png");
  background-size: auto;
  color: #ffffff;
}
.hero a {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 28px;
    color: #ffffff;
	text-decoration: bold;
}
#footer {
    font-size: 0.7rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }