/* for card layout */

body {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
}
h1 {
    font-family: 'Abril Fatface', cursive;
}
.navbar-nav .nav-link {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: #F5E6E7;
}
p {
    margin: 0 auto;
    padding:1rem;
    width: 40rem;
    text-align: left;
    } 