/* for card layout */

body {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color:white;
}
h1 {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; font-style: italic; font-size: 3.6rem; font-variant: normal; font-weight: 600;
    letter-spacing: .01em; 
    margin-top: 0.4em;
    margin-bottom:0.4em;
    color:#424242
}
h2 {
    font-family: 'Fjalla One', sans-serif;font-size: 2.3rem;
    letter-spacing: 0em; 
    border: .2rem solid black ;
    padding: .5rem;
    margin-left: 2rem;
}
h3 {
    font-family: 'Fjalla One', sans-serif; font-size:1.4rem; font-variant: normal; font-weight: 600;
    text-align:center;
}
h4 {
    text-align:center;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; font-style: italic; font-size: 3.6rem; font-variant: normal; font-weight: 600;
    margin-left:14rem;
    letter-spacing: .01em;
    color:#424242
  }
h5{
    position: absolute;
    left:50%;
    margin-left: -14rem;
    top: 45%;
    margin-top: -.2rem;
    text-align: center;
    font-family: 'Merriweather', serif; font-size: 7rem;
    letter-spacing: .08em;
    color:black;
}  
.navbar-nav .nav-link {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    
}

#titlecoloredbox {
    background-color: #F5E6E7;
    position: relative;
    border: .8rem solid #B38B5F ;
    margin-top:0.3em;
    margin-bottom:2em;
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
  }
#coloredbox {
    background-color: #F7F7F7 ;
    padding:1.5rem;
    border: 1.7rem solid #C1D4C9 ;
    margin-top: 2em;
    margin-bottom:2em;
    margin-left: auto;
    margin-right: auto;
    width:42rem;
    text-align: left;
  }
  #coloredbox1 {
    padding: .2rem ;
    margin-top: 1.5em;
    margin-bottom:1.5em;
    margin-left: auto;
    margin-right: auto;
    width:43rem;
  }
   #aboutme {
    margin-right: 3rem;
}
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: rgb(58, 56, 56);
}
p {
    margin: 0 auto;
    padding:.9rem;
    width: 38rem;
    text-align: left;
    } 
        
.container {
    height: 70%;
    width: 70%;
}

#carouselExampleControls {
    width: 50%;
        margin-top: -3.5rem;
        margin-bottom:1.5em;
        margin-left: auto;
        margin-right: auto;
}
.col-sm-8 {
    margin-left:-9rem;
}
.imgfluid {
 max-width: 100%;
  height: auto;
  padding:2rem;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    background-image:url(https://www.babybedding.com/images/fabric/solid-mauve-fabric_large.jpg);
    z-index:1;
    float: left;
    width: 33.33%;
    padding: 10rem;
  }

  /* Clear floats after image containers */
  .row::after {
    z-index:1;
    content: "";
    clear: both;
    display: table;
  }
  img.bg {
    max-height: 33rem;
    z-index:-1;
    background-size: auto;
    width:100%;
}